body{
    margin: 0px;
}

#porta-sidebar {
    max-width: 80px;
    float: left;
    border-right: 1px solid #999;
}

#porta-body {
    width: 100%;
}

#fake-body {
  display: flex;
}

iframe{
    /*border: 1px solid black*/
}