
.heatmap-block{
    
    position: absolute;
    width: 20px;
    right: 0px;
}

.popup-anchor{
    z-index: 100;
    display: block;
    position: absolute;
    height: 20px
    width: 20px;
    right:0px;
    cursor: pointer;
}

#slider{
    left: 4px;
    flex: 1;
}