
.heatmap-block{
    background: #ff000020;
    position: absolute;
    width: 40px;
    right: 0px;
}

.popup-anchor{
    z-index: 100;
    display: block;
    position: absolute;
    width: 20px;
    left: 10px;
    cursor: pointer;
}