<div id="fake-body">
    <div id="porta-sidebar">
        <div id="positional-slider-container">
            <div id="spatial-slider"></div>
        </div>
        <div id="positional-heatmap">
            <div 
                ng-repeat="block in spatialHeatmapBlocks" 
                class="spatial-heatmap-block"
                style="{{visualizationHelper.spatial.generateHeatmapStyleString(block[0], block[1])}}"></div>

            <!-- <div 
                class="event-tooltip-spatial"
                ng-repeat="tooltip in eventTooltips"
                ng-click="tooltipClick($event)"
                index="{{tooltip.event.index}}"
                style="top:{{tooltip.y}}px;">
                <span class="glyphicon glyphicon-{{tooltip.icon}}"></span>
            </div> -->

            <div 
                class="event-tooltip-spatial"
                ng-repeat="tooltip in aggregatedEventTooltips"
                ng-click="tooltipClick($event)"
                style="top:{{tooltip[0]}}px;"
                key="{{tooltip[0]}}">
                <span class="glyphicon glyphicon-zoom-in"></span>
            </div>

        </div>
    </div>
    <iframe 
        scrolling="no"
        frameborder="no" 
        id="porta-body" 
        ng-src="{{$sce.trustAsResourceUrl(iframeSrc)}}"
        ng-onload="onIframeLoad()">></iframe>

    <div id="filters-container">
        <div id="filters">
            <h3>Filter events</h3>
            <p ng-repeat="category in eventCategories">
                <label>
                    <input 
                        type="checkbox"
                        ng-model="category[1]" 
                        ng-change="categoryChange()"
                        checklist-value="1"> {{eventNames[category[0]]}}
                </label>
            </p>
        </div>
    </div>
</div>
<div id="bottom-offset"></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="porta-bottombar">
        <div id="temporal-heatmap">
            <div 
                ng-repeat="block in temporalHeatmapBlocks"
                class="temporal-heatmap-block"
                style="{{visualizationHelper.temporal.generateHeatmapStyleString(block[0], block[1])}}"></div>


            <div 
                class="event-tooltip-spatial"
                ng-repeat="tooltip in eventTooltips"
                ng-click="eventClick($event)"
                index="{{tooltip.event.index}}"
                style="left:{{tooltip.x}}px;">
                <span class="glyphicon glyphicon-{{tooltip.icon}}"></span>
            </div>
            

        </div>
        <div id="temporal-slider-container">
            <div id="temporal-slider"></div>
        </div>
    </div>
</nav>



<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Events</h4>
            </div>
            <div class="modal-body">
                <center>
                    <table>
                        <tr 
                            ng-repeat="tooltip in logEvents"
                            class="event-tooltip-in-popup"
                            ng-click="eventClick($event)"
                            index="{{tooltip.event.index}}"
                            logName="{{tooltip.event.logName}}">
                            <td>
                                <span 
                                    class="glyphicon glyphicon-{{tooltip.icon}} popup-text">    
                                </span>
                            </td>
                            <td>
                                <span class="popup-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </td>
                            <td>
                                <span class="popup-text">
                                    {{tooltip.text}}
                                </span>
                            </td>
                            <td>
                                <span class="popup-text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </td>
                            <td>
                                <span class="popup-text">
                                    {{tooltip.event.logName}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>